header .header-image {
    background: url("imgs/Stars-Header.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
header nav {
    display: block;
    font-size: 0px;
    background: #EEE;
}
header nav a:first-child li {
    border-left: 1px solid #555;
}
header nav a:last-child li {
    border-right: 0px;
}
header nav li {
    display: inline-block;
    width: 25%;
    background: #eee;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #444;
    text-align: center;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}
header nav li:hover {
    background: #ccc;
}
body {
    background-color: black;
}
h1 {
    text-align: center;
}
h5 {
    text-align: center;
}
mid back {
    color: #444;
}
.blocks ul { 
    font-size: 0px;
    padding-left: 20%; 
}
.blocks ul li p {
    text-align: center;
}
.blocks ul li {
    display: inline-block;
    height: 250px;
    width: 40%;
    background: #eee;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
    text-align: left;
    margin: 0px auto;
}
.bkg {
    background-color: #eee;
}
.slideshow {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.slideshow img {
    max-height: 200px;
    max-width: 100%;
}
.slider-next {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    background: url("imgs/slider-next.png") no-repeat;
    z-index: 99;
    height: 32px;
    width: 32px;
    opacity: 0.7;
}
.slider-prev {
    position: absolute;
    left: 10px;
    top: calc(50% - 16px);
    background: url("imgs/slider-prev.png") no-repeat;
    z-index: 99;
    height: 32px;
    width: 32px;
    opacity: 0.7;
}
.slider-next:hover, .slider-prev:hover {
    opacity: 1;
    cursor: pointer;
}


@media only screen and (max-width: 640px) {
    header nav li {
        width: 100%;
        border-left: 1px solid #555;
    }
    .blocks ul li {
        width: 100%;
    }
    ul a li img {
        width: 100%;
        display: block;
        margin: 0px auto;
    } 
    ul {
        list-style-type: none;
        padding: 0px;
    }
    header .header-image {
    background: url("imgs/Stars-Header-Sm.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    }
    .slideshow {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    }
    
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    ul a li img {
        width: 30%;
        display: block;
        margin: 0px auto;
    } 
    ul {
        list-style-type: none;
    }
}